.main-sidebar{
    position: relative;
}
.aside_footer{
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: #252424;
    left: 0px;
    bottom: 0px;
}
.main-sidebar ul {

padding: 5px;
}
.main-sidebar ul li{

list-style: none;

margin: 5px 0px;

border: 1px solid #fff;

padding: 4px;

background: #252424;
}
.main-sidebar ul li a{

margin: 20px 0px;

color: #fff;

font-size: 20px;
}
.main-sidebar ul li a i{
    
font-size: 25px;
    
border: 1px solid #fff;
    
border-radius: 50%;
    
padding: 8px;
    
margin-right: 20px;
    
text-transform: capitalize;
    
color: #fff;
}

/* table part start here  */
.pagination {
    justify-content: right;
}
.dataTables_filter{
    display: flex;
    justify-content: right;
}


/* table part end here  */


/* profile page start here  */

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
/* profile page end here  */